<div  class="chapter">
	<div id="chapter1">
		<h2>Chapter 1<//h2>
		<h3>Installation</h3>
		<P>To download Jenkins as standalone application or as stand alone server in VM.<br>

		Pre-requisites  are:<br>
           1) Ubuntu VM with behat and java installed in it<br> 
           2) Win7 mahcine required as Vm host.<br>
           3) java JDK 7 and jre 7 installed and PATH variable set to proper  			locations on both machines <br>
            4) jenkins installed as server on VM(version 1.515))<br>
            5) jenkins selenium plug in<br>

				1) We need to follow instructions as listed on <br>
		https://wiki.jenkins-ci.org/display/JENKINS/Installing+Jenkins+on+Ubuntu
		after installation is complete <br>
		OR <br>
		Simply follow instructions by clicking on particular OS icon on http://jenkins-ci.org/<br>

	<div class="book-image">

	

	<%= image_tag("screenshot.jpg", alt:"simple")%>

	</div>

	2) After installation please check if Jenkins is running or not. <br>
	http://localhost:8080/ in your windows/Unbuntu machine.<br>
	For this demo complete set up of Jenkins in done Ubuntu VM.<br>
	</p>
</div>
</div>