<div class="center hero-unit">
  <h1>Welcome to the dat</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">dat Knowledge</a>
   
  </h2>

  <%= link_to "Get Started Now!", book_path, class: "btn btn-large btn-success" %>
  
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<%= image_tag("example.jpeg", alt:"simple",height:"200",width: "200")%>